<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-image">
                        <img src="images/profile.png" width="156.16px" height="135.05px" alt="bu yerda rasm bor">
                    </div>
                    <div class="left_1-marcos"><%=user.name%></div>
                    <div class="left_1-heart"><%=user.profession%></div>
                    <div class="left_1-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Facebook.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Instagram.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Twitter.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Linkeding.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Youtube.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Dribbble.svg" class="icon-1">
                            </div>
                        </a>

                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="table">
                        <div class="tr">
                            <tr>
                                <div class="th">
                                    <th>Age:</th>
                                    <th class="age-29">29</th>
                                </div>
                            </tr>
                        </div>
                        <div class="tr-2">
                            <tr>
                                <div class="th-2">
                                    <th>Residence:</th>
                                    <th>BD</th>
                                </div>
                            </tr>
                        </div>
                        <div class="tr-3">
                            <tr>
                                <div class="th-3">
                                    <th>Freelance:</th>
                                    <th>Available</th>
                                </div>
                            </tr>
                        </div>
                        <div class="tr-4">
                            <tr>
                                <div class="th-4">
                                    <th>Address:</th>
                                    <th>S. Korea</th>
                                </div>
                            </tr>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3"></div>
                <div class="marginer"></div>
                <div class="left_4"></div>
                <div class="marginer"></div>
                <div class="left_5"></div>
                <div class="marginer"></div>
            </div>
            <div class="midd_frame"></div>
            <div class="right_frame"></div>
        </div>
    </div>
</body>

</html>